.bag-item{
    background-size: 100%;
    border: 1px solid green;
    border-radius: 3px;
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin: 1.5px;
    // .tooltip{
    //     background-color: gray;
    //     text-align: center;
    //     overflow: visible;
    //     padding: 2px;
    //     visibility: hidden;
    // }
    // &:hover{
    //     .tooltip{
    //         visibility: visible;
    //     }
    // }
}

.bagItemContainerDisplayNone{
    display: none !important;
}