.App {
  height: 100vh;
  text-align: center;
  width: 100vw;
  overflow: hidden;
}

.backgroundImage{
  height: 100%;
  width: 100%;
}

.image-map__content{
  overflow: hidden;
  position: absolute !important;
  height: 100%;
}

.image-map__content__img{
  height: 100%;
}

.image-map__map{
  transition: box-shadow 1s;
}

.image-map__map:hover{
  box-shadow: 5px 5px 10px #99d4ff, -5px -5px 10px #99d4ff;
}